name: pr2changelog
on:
    pull_request:
        branches:
            - master
        types: [closed]

jobs:
    generate:
        if: github.event.pull_request.merged == true

        name: changelog generator
        runs-on: ubuntu-latest
        steps:

            - name: Checkout repository
              uses: actions/checkout@v2
              with:
                  fetch-depth: 0

            - name: pr2changelog
              uses: corp-0/pr2changelog@master
              with:
                  repo: ${{ github.repository }}
                  pr_number: ${{ github.event.pull_request.number }}

            -   name: Commit files
                if: ${{ pr2changelog.generated }}
                run: |
                    git config --local user.email "action@github.com"
                    git config --local user.name "GitHub Action"
                    git add *
                    git commit -m "Add changes" -a
            -   name: Push changes
                uses: ad-m/github-push-action@master
                with:
                    github_token: ${{ secrets.GITHUB_TOKEN }}
